@charset "UTF-8";

:root {
    --cor1: #648381;
    --cor2: #E6EBE0;
    --cor3: #DB504A;
    --cor4: #31231E;
    --cor5: #3C1518; 
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
}

header {
    padding-bottom: 80px;
}

header nav ul {
    list-style-type: none;
    text-align: right;
}

header nav ul li {
    display: inline-block;
    margin: 6px;
    padding: 8px;
}

a { 
    text-decoration: none;
    color: var(--cor4);
    font-size: 1.3em;
}

header nav a {
    background-color: #31231e2c;
    padding: 10px;
    border: 1px solid var(--cor5);
    border-radius: 10px;
}

a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.top {
    text-align: center;
    text-shadow: 1px 1px 1px var(--cor5);
    color: var(--cor3);
}

section {
    margin-left: 30px;
    margin-right: 30px; 
    color: var(--cor5);  
}

.principal {
    display: inline-block;
    width: 350px;
    padding: 18px;
    margin: 18px;
    text-align: center;
    background-color: #64838171;
    border-radius: 6px;

}

.principal img {
    border: 2px solid var(--cor5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    text-align: center;
    color: var(--cor5);
}

/*Abaixo são formatações das outras páginas*/

.imgori {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--cor5);
}

article {
    text-align: justify;
    width: 800px;
    margin: auto;
    padding-top: 24px;
}

footer {
    padding-top: 28px;
}
