@charset "UTF-8";

:root {
    --cor1: #e84855;
    --cor2: #38618c;
    --cor3: #5a3a31;
    --cor4: #dff3e4;
    --cor5: #f1e8b8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
}

header {
    text-align: center;
}

nav {
    color: var(--cor1);
}

nav > div {
    display: inline-block;
}

#d1 {
    margin-right: 65%;
    margin-left: 30px; 
}

#d1  a {
    text-decoration: none;
    color: var(--cor1);
}

.d2 {
    margin-left: 30px;
}

h1 {
    color: var(--cor1);
}

h4 {
    color: var(--cor5);
}

section > div {
    width: 350px;
    height: 290px;
    margin-left: 30px;
    margin-bottom: 25px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 14px;
    background-color: var(--cor4);
}

div > a {
    padding-top: 9px;
    padding-left: 12px;
    text-decoration: underline;
    color: var(--cor3);
}

img {
    margin-top: 14px;
    border-radius: 14px;
}

h5, p {
    text-align: center;
    margin-bottom: 13px;
}

.multipag {
    width: 1000px;
    height: 1300px;
    background-color: var(--cor4);
    margin: auto;
    border-radius: 14px;

}

.multipag p {
    text-align: justify;
    width: 800px;
    padding: 30px;

}

.multipag > img {

}

footer {
    text-align: center;
}
